:root {
    --gray-1: #f2f2f2;
    --gray-2: #D9D9D9;
    --gray-3: #808080;
    --gray-4: #333333;
    --gray-5: #262626;
    --gray-6: #1A1A1A;
    --gray-7: #0D0D0D;

    --purple: #8284FA;
    --purple-dark: #5E60CE;

    --blue: #4EA8DE;
    --blue-dark: #1E6F9F;

    --danger: #E25858;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--gray-6);
    color: var(--gray-1);
}


button {
    background: none;
    border: none;
    outline: none;

    cursor: pointer
}